<section class="row mb-3 mx-0">
    <aside class="col-5 col-md-3 col-xl-2">
        <a routerLink="/movies" class="w-100">
            <chaps-lib-button 
                [buttonLabel]="'< Go back'"
                [buttonClass]="'outline-danger'">
            </chaps-lib-button>
        </a>
    </aside>
</section>

<chaps-lib-jorgechaparro-cv></chaps-lib-jorgechaparro-cv>

<section class="row mt-3 mx-0 justify-content-center">
    <a routerLink="/movies" class="col-5 col-md-3 col-xl-2">
        <chaps-lib-button 
            [buttonLabel]="'< Go back'"
            [buttonClass]="'outline-danger'">
        </chaps-lib-button>
    </a>
</section>
