<div class="container">
    <p class="text">This application is a solution for the Angular Job Assignment, related to a position as an Angular Developer at Quick Suite Trading</p>
    <p class="text">The application is built using Angular 16</p>
    <p class="text">Application theme is mostly based on Chaps-Angular-Lib. An angular library of reusable components created by me. Please, take a look at it on: </p>
    <section class="row">
        <a href="https://github.com/JorgeChaparroS/chaps-angular-library" class="bold text col-6">Github</a>
        <a href="https://www.npmjs.com/package/chaps-angular-lib" class="bold text col-6">NPM</a>
    </section>

    <section class="row mt-5 mx-0 justify-content-center">
        <a routerLink="/movies" class="col-5 col-md-3 col-xl-2">
            <chaps-lib-button 
                [buttonLabel]="'< Go back'"
                [buttonClass]="'outline-danger'">
            </chaps-lib-button>
        </a>
    </section>
</div>